<html lang='en'>

<head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Email</title>
</head>

<body>
    <link type="text/css" href="mail.css" />
    <link type="text/css" href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet' />
    <div>
        <header class='banner' style='
            background-image: url(https://media.licdn.com/dms/image/D4E16AQF1-9lcvnlbGA/profile-displaybackgroundimage-shrink_350_1400/0/1673844511879?e=1682553600&v=beta&t=3rAqL3KLVje70n5dl5RvXeb83IcTIMZrNVA1VkW43U0); 
            background-position: center;
            background-position-y: top;
            background-size: cover;
            width: 100%;
            height: 150px;'>
        </header>
        <div class='text__container' style='padding: 24px;'>
            {{{body}}}
        </div>
        <div class='divider' style="
            width:
                100%;
            height: 1px;
            padding: 24px;
            border-top: 1px solid #F3F3F3;
        ">
        </div>
        <footer class='footer' style="
            padding: 24px;
            display: flex;
            flex-direction: column;
            gap: 15px;">
            <h4 class='copyright' style="
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            line-height: 20px;
            text-align: center;
            color: #525F7F;
            ">
                © FEEDING MINDS. All rights reserved.
            </h4>
            <h5 class='copyright' style="
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            line-height: 20px;
            text-align: center;
            color: #525F7F;
            ">
                Si tiene alguna pregunta, contáctenos
                <a href='mailto:feedingminds.pe@gmail.com'>feedingminds.pe@gmail.com</a>
            </h5>
            <div class='icons' style="
            display: flex;
            gap: 12px;
            justify-content: center;
            align-items: center;
            ">
                <a target='_blank' href='https://www.linkedin.com/company/feedingmindsperu/'>
                    <i class='bx-sm bx bxl-linkedin-square' style=" color: #525F7F;"></i>
                </a>
                <a target='_blank' href='https://www.instagram.com/feedingmindsperu/'>
                    <i class='bx-sm bx bxl-instagram' style=" color: #525F7F;"></i>
                </a>
                <a target='_blank'>
                    <i class='bx-sm bx bxl-facebook-square' style=" color: #525F7F;"></i>
                </a>
                <a target='_blank' href='https://feedingmindsperu.com/'>
                    <i class='bx-sm bx bx-world' style=" color: #525F7F;"></i>
                </a>
            </div>
        </footer>
    </div>
    <link type="text/css" rel='preconnect' href='https://fonts.googleapis.com' />
    <link type="text/css" rel='preconnect' href='https://fonts.gstatic.com' crossorigin />
    <link type="text/css"
        href='https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'
        rel='stylesheet' />

    <style>
        * {
            padding: 0;
            margin: 0;
            outline: 0;
            box-sizing: border-box;
        }

        .title {
            font-family:
                'Poppins';
            font-style: normal;
            font-weight: 400;
            font-size: 30px;
            line-height: 36px;
            color: #1C1E23;
            padding-bottom: 24px;
        }

        .paragraph {
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 400;
            font-size:
                16px;
            line-height: 25px;
            /* or 156% */
            color: #525F7F;
        }

        .copyright {
            /* 12px */
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            line-height: 20px;
            /* identical to box
      height, or 167% */
            text-align: center;
            color: #525F7F;
        }

        .divider {
            width:
                100%;
            height: 1px;
            padding: 24px;
            border-top: 1px solid #F3F3F3;
        }

        .icons {
            display: flex;
            gap: 12px;
            justify-content: center;
            align-items: center;
        }

        i {
            color: #525F7F;
        }
    </style>
</body>

</html>