<html lang='en'>

  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Email</title>
  </head>

  <body>
    <div>
      <header
        class='banner'
        style='
            background-image: url(https://media.licdn.com/dms/image/D4E16AQF1-9lcvnlbGA/profile-displaybackgroundimage-shrink_350_1400/0/1673844511879?e=1682553600&v=beta&t=3rAqL3KLVje70n5dl5RvXeb83IcTIMZrNVA1VkW43U0); 
            background-position: center;
            background-size: contain;
            width: 100%;
            height: 280px;
            background-repeat: no-repeat;
            '
      >
      </header>

      <div class='text__container' style='padding: 24px;'>
        {{{body}}}
      </div>

      <table
        cellpadding='0'
        cellspacing='0'
        border='0'
        width='660'
        role='presentation'
        align='center'
      >
        <tbody>
          <tr>
            <td>
              <table
                cellpadding='0'
                cellspacing='0'
                border='0'
                width='100%'
                role='presentation'
              >
                <tbody>
                  <tr>
                    <td
                      style='background-color:#2B2972;padding:50px 50px 0px 50px'
                    >
                      <table
                        cellpadding='0'
                        cellspacing='0'
                        border='0'
                        width='100%'
                        role='presentation'
                      >
                        <tbody>
                          <tr>
                            <td style='color:#2B2972'>
                              <table
                                cellpadding='0'
                                cellspacing='0'
                                border='0'
                                width='100%'
                                role='presentation'
                                align='left'
                              >
                                <tbody>
                                  <tr>
                                    <td
                                      width='238'
                                      style='text-align:left;padding:px 0px 0px 0px;font-size:16px;line-height:20px;color:#2B2972;word-wrap:break-word'
                                      valign='top'
                                      height='40'
                                    >
                                      <table
                                        width='100%'
                                        border='0'
                                        cellspacing='0'
                                        cellpadding='0'
                                        valign='top'
                                      >
                                        <tbody>
                                          <tr>
                                            <td
                                              style="font-family:'Source Sans Pro',Helvetica,Arial,sans-serif;font-size:32px;font-weight:bold;letter-spacing:0;padding-bottom:5px;padding-bottom:1px solid #2B2972;text-align:left"
                                            >
                                              <span
                                                style='text-align:left;font-size:16px;line-height:20px;color:#2B2972;word-wrap:break-word;font-weight:normal;padding-bottom:4px'
                                              ><a
                                                  href='https://feedingminds.netlify.app'
                                                  target='_blank'
                                                >
                                                  <img
                                                    src='https://res.cloudinary.com/mikunaalli/image/upload/v1678061830/feeding/logo_1_vughih.png'
                                                    class='CToWUd'
                                                    data-bit='iit'
                                                    style='height: 40px; width: 120px; object-fit: contain;'
                                                  />
                                                </a>

                                              </span>
                                            </td>
                                          </tr>
                                        </tbody>
                                      </table>
                                    </td>
                                    {{! <td
                                      width='28'
                                      style='min-width:20px'
                                    >&nbsp;</td> }}

                                  </tr>
                                </tbody>
                              </table>
                            </td>
                          </tr>
                          {{! <tr>
                            <td height='60'>&nbsp;</td>
                          </tr> }}
                          <tr>
                            <td>
                              <table
                                cellpadding='0'
                                cellspacing='0'
                                border='0'
                                width='100%'
                                role='presentation'
                              >
                                <tbody>
                                  <tr>
                                    <td
                                      style='text-align:left;padding:px 0px 0px 0px;font-size:16px;line-height:20px;color:#2B2972;word-wrap:break-word'
                                      valign='top'
                                    >
                                      <table
                                        width='150'
                                        border='0'
                                        cellspacing='0'
                                        cellpadding='0'
                                        align='left'
                                      >
                                        <tbody>
                                          <tr>
                                            <td
                                              width='30'
                                              align='left'
                                              style="font-family:'Source Sans Pro',Helvetica,Arial,sans-serif;font-size:20px;font-weight:bold;letter-spacing:0;padding-bottom:5px;padding-bottom:1px solid #2B2972"
                                            >
                                              <span
                                                style='text-align:left;font-size:16px;line-height:20px;color:#2B2972;word-wrap:break-word;font-weight:normal;padding-bottom:4px'
                                              ><a
                                                  href='https://www.instagram.com/feedingmindsperu/'
                                                  target='_blank'
                                                ><img
                                                    src='https://ci4.googleusercontent.com/proxy/sTlj4eiOPu2FAFjv75MiUlZB9oBirOB4cXg_Wzpgtn-lCORmO5YuO57yOv3vuKDdh6byTHBzxn5dRLnWS_22vRw=s0-d-e1-ft#https://mi.udemy.com/p/rp/ac0087e06d95aad1.png'
                                                    width='30'
                                                    class='CToWUd'
                                                    data-bit='iit'
                                                  /></a>
                                              </span>
                                            </td>
                                            <td
                                              width='24'
                                              align='left'
                                              style="font-family:'Source Sans Pro',Helvetica,Arial,sans-serif;font-size:20px;font-weight:bold;letter-spacing:0;padding-bottom:5px;padding-bottom:1px solid #2B2972"
                                            >&nbsp;
                                            </td>
                                            <td
                                              width='30'
                                              align='left'
                                              style="font-family:'Source Sans Pro',Helvetica,Arial,sans-serif;font-size:20px;font-weight:bold;letter-spacing:0;padding-bottom:5px;padding-bottom:1px solid #2B2972"
                                            ><span
                                                style='text-align:left;font-size:16px;line-height:20px;color:#2B2972;word-wrap:break-word;font-weight:normal;padding-bottom:4px'
                                              ><a
                                                  href='https://www.linkedin.com/company/feedingmindsperu'
                                                  target='_blank'
                                                ><img
                                                    src='https://ci6.googleusercontent.com/proxy/LvC5WbzWgs8B5pTY42MYgOZzCZqO06N8KIXha84TxxN2MPc5fGBNYhp6dnP_gBqlUv2yFlcmKkuF9tCOBCPxSeQ=s0-d-e1-ft#https://mi.udemy.com/p/rp/71a2f94f39d027be.png'
                                                    width='30'
                                                    class='CToWUd'
                                                    data-bit='iit'
                                                  /></a>
                                              </span>
                                            </td>
                                            <td
                                              width='24'
                                              align='left'
                                              style="font-family:'Source Sans Pro',Helvetica,Arial,sans-serif;font-size:20px;font-weight:bold;letter-spacing:0;padding-bottom:5px;padding-bottom:1px solid #2B2972"
                                            >&nbsp;
                                            </td>

                                            <td
                                              width='55'
                                              height='24'
                                              align='left'
                                              style="font-family:'Source Sans Pro',Helvetica,Arial,sans-serif;font-size:20px;font-weight:bold;letter-spacing:0;padding-bottom:5px;padding-bottom:1px solid #2B2972"
                                            ><span
                                                style='text-align:left;font-size:16px;line-height:20px;color:#2B2972;word-wrap:break-word;font-weight:normal;padding-bottom:4px'
                                              ><a
                                                  href='https://www.facebook.com/feedingmindsperu'
                                                  target='_blank'
                                                ><img
                                                    src='https://ci5.googleusercontent.com/proxy/Y16VBi3KZ6TBzkjpGvP2XuEX4j9bn89TS3QdHKE4xyjQfKAksPYhCIv81FRpkub2v0UVTM1JBjFfVAAjxUH_e42bFHQKveFMOEaB1aUHN0w=s0-d-e1-ft#https://s3.amazonaws.com/udemy-images/email/Facebook_logo.png'
                                                    width='34'
                                                    class='CToWUd'
                                                    data-bit='iit'
                                                  /></a>
                                              </span>
                                            </td>
                                          </tr>

                                          <tr>
                                            <td
                                              height='10'
                                              colspan='9'
                                            >&nbsp;</td>
                                          </tr>

                                        </tbody>
                                      </table>
                                    </td>
                                  </tr>
                                  <tr>
                                    <td
                                      style='text-align:left;padding:px 0px 0px 0px;font-size:16px;line-height:20px;color:#2B2972;word-wrap:break-word'
                                      valign='top'
                                      height='45'
                                    >
                                      <table
                                        width='290'
                                        border='0'
                                        cellspacing='0'
                                        cellpadding='0'
                                        align='left'
                                      >

                                        <tbody>
                                          <tr>
                                            <td
                                              width='90'
                                              align='left'
                                              style='font-size:17px;line-height:20px;word-break:break-all;color:#ffffff'
                                            >
                                              <strong>
                                                <a
                                                  style='color:#ffffff;text-decoration:none'
                                                  href='https://feedingmindsperu.com/'
                                                  target='_blank'
                                                >¿Quiénes somos?</a>
                                              </strong>
                                            </td>

                                          </tr>
                                        </tbody>
                                      </table>
                                    </td>
                                  </tr>
                                  <tr>
                                    <td colspan='3' height='50'><table
                                        width='100%'
                                        cellpadding='0'
                                        cellspacing='0'
                                      >
                                        <tbody>
                                          <tr>
                                            <td
                                              colspan='3'
                                              style='padding-top:10px'
                                            >
                                              <table
                                                width='100%'
                                                cellpadding='0'
                                                cellspacing='0'
                                                align='center'
                                              >
                                                <tbody>
                                                  <tr>
                                                    <td
                                                      align='left'
                                                      style='font-size:13px;letter-spacing:0.25px;line-height:20px;padding-bottom:25px;border-bottom:1px solid #ffffff;color:#ffffff'
                                                    >Has recibido este correo
                                                      electrónico porque has
                                                      iniciado sesión en
                                                      <span
                                                        class='il'
                                                      >feedingmindsperu</span>.com
                                                      con esta dirección de
                                                      correo electrónico.</td>
                                                  </tr>
                                                </tbody>
                                              </table>
                                            </td>
                                          </tr>

                                          <tr>
                                            <td style='padding-top:30px'>
                                              <table
                                                width='100%'
                                                cellpadding='0'
                                                cellspacing='0'
                                                align='center'
                                              >
                                                <tbody>
                                                  <tr>
                                                    <td
                                                      width='15%'
                                                      align='left'
                                                      style='font-size:14px;line-height:20px;text-align:left;padding-bottom:0px'
                                                    >&nbsp;</td>
                                                    <td
                                                      width='70%'
                                                      align='center'
                                                      style='font-size:12px;line-height:20px;text-align:center;padding-bottom:0px;color:#ffffff'
                                                    ><span class='il'>Feeding
                                                        Minds</span>.com Lima -
                                                      Perú</td>
                                                    <td
                                                      width='15%'
                                                      align='left'
                                                      style='font-size:14px;line-height:20px;text-align:left;padding-bottom:0px'
                                                    >&nbsp;</td>
                                                  </tr>
                                                </tbody>
                                              </table>
                                            </td>
                                          </tr>
                                        </tbody>
                                      </table>
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                            </td>
                          </tr>
                          <tr>
                            <td>&nbsp;</td>
                          </tr>
                          <tr>
                            <td style='padding:8px 30px'><table
                                cellpadding='0'
                                cellspacing='0'
                                border='0'
                                width='100%'
                                role='presentation'
                              >
                              </table></td>
                          </tr>
                          <tr>
                            <td></td>
                          </tr>
                          <tr>
                            <td></td>
                          </tr>
                        </tbody></table></td>
                  </tr>
                </tbody>
              </table>
            </td>
          </tr>
        </tbody>
      </table>

    </div>

  </body>

</html>